{% load static %}
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
 <!-- The Modal -->
 <div class="modal modal_multi">
      
    <!-- Modal content -->
    <div class="modal-content ">
        <span class="close close_multi pb-3">×</span>
        <h1>Contact me!</h1>
        <h3>your email</h3>
    </div>

</div>

<!-- The Modal -->
<div  class="modal modal_multi">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close close_multi">×</span>
        <p>   Info about job</p>
    </div>

</div>     

<div  class="modal modal_multi">

  <!-- Modal content -->
  <div class="modal-content">
      <span class="close close_multi">×</span>
      <p class="pt-2 modals">
       Info about job
      </p>
  </div>

</div>     


<div  class="modal modal_multi">

<!-- Modal content -->
<div class="modal-content">
    <span class="close close_multi">×</span>
    <p class="pt-2 modals">
    	   Info about job
    </p>
</div>

</div>     

<div  class="modal modal_multi">

<!-- Modal content -->
<div class="modal-content">
    <span class="close close_multi">×</span>
    <p pt-2 class="pt-2 modals">
    	   Info about job
    </p>
</div>

</div>   